# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.mjs
!package.json
!README.md
!tailwind.config.cjs
!.eslintrc.cjs
!commitlint.config.cjs
!prettier.config.cjs
!lint-staged.config.cjs
!astro.config.mjs
!.env*
