@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html {
    --color-fill: 33, 35, 61;
    --color-text-base: 244, 247, 245;
    --color-accent: 179, 98, 255;
    --color-card: 57, 60, 102;
    --color-card-muted: 74, 78, 134;
    --color-border: 79, 69, 136;
  }

  body {
    @apply font-sans-serif bg-skin-fill text-skin-base flex flex-col selection:bg-skin-accent selection:text-skin-inverted selection:bg-opacity-70;
  }

  footer {
    @apply max-w-3xl mx-auto px-4;
  }

  a {
    @apply outline-offset-1 outline-skin-fill outline-2 
    focus-visible:outline-dashed focus-visible:no-underline;
  }

  svg {
    @apply w-6 h-6 inline-block fill-skin-base group-hover:fill-skin-accent;
  }

  svg.icon-tabler {
    @apply w-6 h-6 scale-125 md:scale-110 opacity-90 
    inline-block fill-transparent stroke-2 stroke-current 
    group-hover:fill-transparent;
  }

  .prose {
    @apply prose-a:underline-offset-8 prose-ul:overflow-x-clip 
    prose-a:!decoration-dashed hover:prose-a:text-skin-accent 
    prose-img:mx-auto prose-img:border-2 prose-img:border-skin-line prose-img:rounded-lg prose-img:shadow-lg
    prose-img:!mt-2 prose-headings:!mb-3
    prose-th:border prose-th:border-skin-line
    prose-td:border prose-td:border-skin-line
    prose-h3:italic

    
    prose-p:!text-skin-base prose-headings:!text-skin-base 
    prose-ol:!text-skin-base prose-ul:!text-skin-base prose-blockquote:opacity-80 
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-code:bg-skin-card prose-code:bg-opacity-75 
    prose-code:!text-skin-base prose-code:p-1 prose-code:rounded
    prose-code:after:!content-[''] prose-code:before:!content-['']
    prose-strong:!text-skin-base prose-table:text-skin-base 
    prose-pre:!text-skin-base prose-a:!text-skin-base 
    prose-hr:!border-skin-line prose-li:marker:!text-skin-accent 
    prose-blockquote:!border-l-skin-accent prose-blockquote:border-opacity-50;
  }

  .prose a {
    @apply hover:!text-skin-accent;
  }

  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5rem;
  }

  .prose h2#table-of-contents {
    @apply mb-2;
  }

  .prose details {
    @apply text-skin-base cursor-pointer inline-block select-none;
  }

  .prose summary {
    @apply focus-outline;
  }

  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card rounded-lg;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  #smooth-content {
    @apply pt-12 md:pt-16;
  }

  /* ===== progressbar ===== */
  progress {
    @apply fixed bottom-0 left-0 w-full h-1 bg-skin-transparent border-none appearance-none;
  }

  progress::-webkit-progress-bar {
    @apply bg-skin-transparent;
  }

  progress::-webkit-progress-value {
    @apply bg-skin-accent bg-opacity-80;
  }

  progress::-moz-progress-bar {
    @apply bg-skin-accent bg-opacity-80;
  }

  /* ===== cursor ===== */
  #cursor {
    @apply fixed w-6 h-6 bg-opacity-20 backdrop-blur rounded-full border border-skin-accent pointer-events-none z-50 invisible;
  }

  @media (any-hover: hover) and (pointer: fine) {
    * {
      @apply cursor-none;
    }
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }

  .focus-outline {
    @apply outline-offset-1 outline-skin-fill outline-2 focus-visible:outline-dashed focus-visible:no-underline;
  }
}
