---
import Tag from '@components/Tag.astro'
import { SITE } from '@config'
import Layout from '@layouts/Layout.astro'
import Main from '@layouts/Main.astro'
import getUniqueTags from '@utils/getUniqueTags'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')

const tags = getUniqueTags(posts)
---

<Layout title={`Tags | ${SITE.title}`}>
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul>
      {tags.map((tag) => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
</Layout>
